<section class="page-header">
  <h1 class="project-name">Google Analytics Manager</h1>
  <h2 class="project-tagline">Manage your Google Analytics accounts from a Google Sheet</h2>
  <a href="https://github.com/rmeekers/Google-Analytics-Manager" class="btn">View on GitHub</a>
  <a href="https://github.com/rmeekers/Google-Analytics-Manager/zipball/master" class="btn">Download .zip</a>
  <a href="https://github.com/rmeekers/Google-Analytics-Manager/tarball/master" class="btn">Download .tar.gz</a>
</section>
